/UnitySpy/bin
/UnitySpy/obj
/UnitySpy.HearthstoneLib/bin
/UnitySpy.HearthstoneLib/obj
/UnitySpy.HearthstoneLibTests/bin
/UnitySpy.HearthstoneLibTests/obj
/UnitySpy.Gui/bin
/UnitySpy.Gui/obj
packages
.vs
**/*.csproj.user
